{% extends 'catalog/base.html' %}

    {% block content%}
    <div class="row text-center">

        <div>
            <h1>Магазин Электроннки</h1>
        </div>

    <div class="row text-center">
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ object.name }}</h3>
                        <h4 class="card-title pricing-card-title">{{ object.purchase_price }} руб.</h4>
                        <a href="{% url 'catalog:products' object.id %}" class="btn btn-primary">Просмотр товара</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>>
{% if user.is_authenticated %}
 <div class="col-3">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить продукт</a>
</div>
{% else %}
<div class="col-3">
    <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Войдите, чтобы добавить продукт</a>
</div>
        {% endif %}
{% endblock %}


