{% extends 'catalog/base.html' %}
{% block content%}
{% load media_path %}

    <div class="container">

        <div class="row">
        <figure class="figure">
                 <img src="{{ product.image|media_path }}" class="img-fluid" alt="{{ product.image }} 300x200" width="300" height="200">
            </figure>
            <div class="col-md-8">
                <h2>{{ object.name }}</h2>
                <p>Описание: {{ object.description }}</p>
                <p>Цена: {{ object.purchase_price }} руб.</p>
                <p>Автор: {{ object.owner}}</p>

            </div>


        </div>
    </div>

<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:update_product' object.pk %}">Изменить</a>
</div>

{% endblock %}